@import '../../theme/theme.scss';

.pcs-formationinfos-fragment {
    display: flex;
    flex: 1 1;
    position: relative;
    flex-direction: column;

    .pcs-stats-ul {
        list-style-type: none;
        margin: 0;
        padding: 0 $unit;
        li {
            margin: $unit 0;
        }
    }
}

.pcs-formationinfos-main {
    background-color: $red;
    border-radius: $unit * 3;
    padding: $unit;
    margin-bottom: $unit;
    h1 {
        color: $farine;
    }
}

.pcs-formationinfos-stats {
    background-color: $farine;
    border-radius: $unit * 3;
    border: 2px solid $blue3;
    padding: $unit;
    margin-bottom: $unit;
    h1 {
        color: $farine;
    }
    b {
        color: $blue3;
    }
}

.pcs-formationinfos-title {
    padding: $unit;
}

.pcs-formationinfo-statscard-wrapper {
    display: flex;
    direction: row;
    gap: $unit * 3;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;

    div {
        flex: 1 1;
    }
}
