@import '../../theme/theme.scss';

.pcs-formationinfos-fragment {
    display: flex;
    flex: 1 1 auto;
}

.pcs-formationinfos {
    background-color: $secondary;
    border-radius: $unit;
    width: 100%;
}
