@import '../../theme/theme.scss';

.pcs-header {
    background-color: $blue3;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    padding: 0 $unit * 3;
    border-radius: $unit * 3;
    margin: $unit * 5;
    & > * {
        display: flex;
        flex: 1 1 auto;
    }
    flex-wrap: wrap;
    flex-direction: column;
}

.pcs-header-logo {
    width: 50px;
}

.pcs-header-title {
    color: $farine;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.pcs-header-menu {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.pcs-header-view-button {
    min-width: 100px;
    padding-top: $unit * 2;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    color: $farine;
    &.active {
        background-color: $farine;
        border-radius: $unit * 2 $unit * 2 0 0;
        color: $blue3;
    }
    &.disabled {
        color: #aaa;
    }

    &:hover {
        cursor: pointer;
    }
}
.pcs-header-view-button-icon {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.pcs-header-view-button-icon-content {
    display: flex;
    flex: 1 1 auto;
    font-size: xx-large;
}
.pcs-header-view-button-name {
    text-align: center;
}

@media (max-width: 480px) {
    .pcs-header {
        margin: 0;
        border-radius: 0 0 $unit * 2 $unit * 2;
    }
    .pcs-header-title {
        font-size: 15px;
    }
    .pcs-header-view-button {
        padding-top: $unit;
    }
    .pcs-header-view-button-name {
        font-size: 15px;
    }
}
