@import '../../theme/theme.scss';

.pcs-map-fragment {
    position: relative;
    min-width: 200px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
}

.pcs-map-title {
    padding: $unit;
}

.pcs-map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.pcs-map-container {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: $unit * 3;
    overflow: hidden;
}
