@import '../../theme/theme.scss';

.pcs-statscard {
    min-width: 30vw;
}
.pcs-statscard-title {
    color: $blue3;
    padding: $unit;
    margin-top: 3 * $unit;
}
.pcs-statscard-content {
    border: 2px solid $blue3;
    border-radius: $unit * 3;
    padding: $unit;
    margin-bottom: $unit;
}
.pcs-statscard-description {
    text-align: center;
    background-color: $blue1;
    border-radius: $unit * 2;
    padding: $unit;
}

@media (max-width: 480px) {
    .pcs-statscard {
        min-width: 90vw;
    }
}
