@import '../../theme/theme.scss';


.pcs-formationItem
{
    background-color: $blue1;
    margin: $unit 0;
    padding: $unit;
    border-radius: $unit * 2;

    &:hover {
        cursor: pointer;
    }
}